<%- include("header") -%>
    <div class ="box" id="heading">
      <h1> <%=listTitle %></h1>
    </div>

    <div class ="box">
      <% for (let i =0 ; i<newListItems.length; i++){ %>
        <div class ="item">
        <input type="checkbox" />

          <p><%= newListItems[i]%> </p>
        </div>

        <% } %>
        <form class ="item" action ="/" method = "post">
          <input type ="text" name ="newItem" placeholder = "New Item" autocomplete = "off" autofocus ="true"/>
          <button type = "submit" name = "list" value = "<%= listTitle%>">+</button>
        </form>
    </div>

    <%# This tag comes from EJS Template%>
    <%# https://ejs.co/#docs%>
    <%# look at the Tags section%>

<%- include("footer") -%>
